body{
background: linear-gradient(135deg,#667eea,#764ba2);
font-family: 'Segoe UI';
}

.login-body{
background: linear-gradient(135deg,#1d2671,#c33764);
}

.login-card{
width:350px;
padding:30px;
border-radius:15px;
}

.summary-card{
padding:20px;
background:white;
border-radius:10px;
text-align:center;
box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

.high-value td{
background:#ff4d4d;
color:rgb(236, 194, 175);
font-weight:bold;
}